**Pandas**

* Numpy'ın sütun adları ve homojen olmayan verilerle çalışamama gibi eksik kaldığı kısımlara çözüm getiren, yüksek performanslı, veri analiz araçları sağlayan açık kaynak kodlu bir kütphanedir.

* .csv ve .txt dosyalarını açmak ve verileri işlememizi sağlar

* Pandas ile veri analizi yaparken kullanacağımız temel veri yapıları Seriler ve DataFrame'ler

**Pandas Seriler**

Seriler Numpy dizileri baz alınarak oluşturulmuştur. Herhangi bir veri tipinde veri tutabilen tek boyutlu etiketli bir dizidir. Excelin bir sütunu olarak düşünebilirsiniz.

pip install pandas ile kurulumu yapılır.

pd.Series(data, index)

In [3]:
import pandas as pd

In [4]:
#Empty Series
seri = pd.Series()

seri

C:\Users\TCAYSAYDIN\AppData\Local\Temp\ipykernel_7152\4291955784.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  seri = pd.Series()

Series([], dtype: float64)

In [5]:
calories = pd.Series([120, 340, 456, 256], ["elma", "kavun", "çikolata", "dondurma"])

calories

elma        120
kavun       340
çikolata    456
dondurma    256
dtype: int64

In [6]:
print("Data: ", calories.values)
print("Index: ", calories.index)

Data:  [120 340 456 256]
Index:  Index(['elma', 'kavun', 'çikolata', 'dondurma'], dtype='object')

In [7]:
print("Şekli: ", calories.shape)
print("Boyutu: ", calories.ndim)
print("Eleman sayısı: ", calories.size)

Şekli:  (4,)
Boyutu:  1
Eleman sayısı:  4

bir indeksin olup olmadığını in komutu ile kontrol edebiliriz

In [11]:
if "armut" not in calories:
    print("Armut seriye dahil değil")

if "dondurma" in calories:
    print("Dondurma seriye dahil")

print("armut" not in calories)

Armut seriye dahil değil
Dondurma seriye dahil
True

Dictionary'i seri olarak kullanalım

In [12]:
capitals_dict = {"Türkiye":"Ankara", "Fransa":"Paris", "Almanya":"Berlin", "İtalya":"Roma"}

capitals = pd.Series(capitals_dict)

capitals

Türkiye    Ankara
Fransa      Paris
Almanya    Berlin
İtalya       Roma
dtype: object

Bir liste tanımı üzerinden seri oluşturma

In [13]:
languages_list = ["Python", "C#", "Kotlin", "Java", "Dart"]

languages = pd.Series(languages_list)

languages

0    Python
1        C#
2    Kotlin
3      Java
4      Dart
dtype: object

Bir Numpy dizisi üzerinden seri oluşturma

In [17]:
import pandas as pd
import numpy as np

In [18]:
nd_array = np.array(["The Big Bang Theory", "The Office", "Doctor Who", "Friends"])

movies = pd.Series(nd_array, name="Diziler")

movies

0    The Big Bang Theory
1             The Office
2             Doctor Who
3                Friends
Name: Diziler, dtype: object

In [19]:
seri = pd.Series(np.linspace(1, 38, 6))

seri

0     1.0
1     8.4
2    15.8
3    23.2
4    30.6
5    38.0
dtype: float64

Comprehension [i for i in liste if ...]

In [24]:
my_list = range(1, 30, 5)

seri = pd.Series(my_list, index=[i for i in "ABCDEF"])

seri

A     1
B     6
C    11
D    16
E    21
F    26
dtype: int64

Serilere Erişim

In [28]:
seri = pd.Series([i for i in "ABCDEF"])

print(seri)
print(seri[3])

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object
D

In [33]:
seri = pd.Series(range(1, 30, 5), index=[i for i in "ABCDEF"])

print(seri)
print(seri["D"])

A     1
B     6
C    11
D    16
E    21
F    26
dtype: int64
16

In [34]:
seri.iloc[3]

16

In [36]:
seri.loc["D"]

16

In [38]:
seri.loc[["A", "E"]]

A     1
E    21
dtype: int64

In [39]:
seri[["A", "E"]]

A     1
E    21
dtype: int64

In [40]:
seri["A":"E"]

A     1
B     6
C    11
D    16
E    21
dtype: int64

In [52]:
calories = pd.Series([120, 90, 456, 256], ["elma", "kavun", "çikolata", "dondurma"])

calories

elma        120
kavun        90
çikolata    456
dondurma    256
dtype: int64

In [45]:
#kalorisi 150 den büyük olanları getir

print(calories > 260)

print("\n\n", calories[calories > 260])

elma        False
kavun        True
çikolata     True
dondurma    False
dtype: bool


 kavun       340
çikolata    456
dtype: int64

In [46]:
calories.mean()

293.0

In [48]:
calories[(calories < calories.mean()) & (calories > 150)]

dondurma    256
dtype: int64

Serinin değerlerini değiştirme -> seride istediğimiz değerleri indexle erişip değiştirebiliriz.

In [49]:
calories["elma"] = 160

In [50]:
calories[(calories < calories.mean()) & (calories > 150)]

elma        160
dondurma    256
dtype: int64

kalorisi 150 den küçük olanları 160 olarak değiştir

In [55]:
calories[calories < 150] = 160

calories

elma        160
kavun       160
çikolata    456
dondurma    256
dtype: int64

Seriler üzerinde toplama çıkarma

In [62]:
seri = pd.Series([1,2,3,4], index=[i for i in "abcd"])
seri2 = pd.Series([5,6,7,8], index=[i for i in "aefd"])

seri.add(seri2)

a     6.0
b     NaN
c     NaN
d    12.0
e     NaN
f     NaN
dtype: float64

In [63]:
seri.add(seri2, fill_value=0)

a     6.0
b     2.0
c     3.0
d    12.0
e     6.0
f     7.0
dtype: float64

In [66]:
seri.sub(seri2, fill_value=0)

a   -4.0
b    2.0
c    3.0
d   -4.0
e   -6.0
f   -7.0
dtype: float64

Serilerde Dönüştürme(conversion) işlemi

.astype ve .tolist

In [72]:
num = pd.Series([1,2,3,4,5,6,7])
print("orijinal hali:\n", num)

num = num.astype(float)
print("\nDeğiştirilmiş hali:\n", num)

orijinal hali:
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

Değiştirilmiş hali:
 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64

In [74]:
print(num)

num_list = num.tolist()
print(num_list)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
dtype: float64
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]